@using Microsoft.AspNetCore.Identity
@using XChat.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.Data.SqlClient;
@using System.Text.Json;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

@{
    ViewData["Title"] = "Home Page";
    string connectionString = "Server=DESKTOP-OFRUC79;Database=XChat;Trusted_Connection=True;";  // typically, you get this from a config file

    string sqlUsers = "select * from dbo.AspNetUsers";
    SqlConnection conn = new SqlConnection(connectionString);

    SqlCommand sqlCommand = new SqlCommand(sqlUsers, conn);
    JArray users = new JArray();


    //chats
    string myEmail = UserManager.GetUserName(User);
    string sqlChats = "select * from dbo.Chats where SenderID='" + myEmail + "'  or RecipientID='" + myEmail + "'";

    SqlCommand sqlCommandChats = new SqlCommand(sqlChats, conn);
    JArray chats = new JArray();


    {
        // open connection, execute query, close connection
        conn.Open();
        SqlDataReader reader = sqlCommand.ExecuteReader();

        while (reader.Read())
        {
            JObject obj = new JObject();
            string fname = reader["FirstName"].ToString();
            string lname = reader["LastName"].ToString();
            string userid = reader["Id"].ToString();
            string email = reader["Email"].ToString();
            obj.Add("Id",userid);
            obj.Add("Email", email);
            obj.Add("FirstName", fname);
            obj.Add("LastName", lname);
            users.Add(obj);

        }
        reader.Close();

        SqlDataReader readerChats = sqlCommandChats.ExecuteReader();

        while (readerChats.Read())
        {
            JObject objChats = new JObject();
            string message = readerChats["Message"].ToString();
            string read = readerChats["Read"].ToString();
            string date = readerChats["SendDate"].ToString();
            string sender = readerChats["SenderID"].ToString();
            string recipient = readerChats["RecipientID"].ToString();


            objChats.Add("Message", message);
            objChats.Add("Read", read);
            objChats.Add("SendDate", date);
            objChats.Add("SenderID", sender);
            objChats.Add("RecipientID", recipient);

            string chat_name = "";
            for(int i=0;i<users.Count;i++){
                var juser = users[i];
                Console.WriteLine(juser["Email"]);
                if(juser["Email"].ToString()==recipient){
                    string first_name = juser["FirstName"].ToString();
                    string last_name = juser["LastName"].ToString();
                    chat_name = first_name + " " + last_name;
                    objChats.Add("ChatName", chat_name);
                    break;
                }
                else if (juser["Email"].ToString() == sender)
                {
                    string first_name = juser["FirstName"].ToString();
                    string last_name = juser["LastName"].ToString();
                    chat_name = first_name + " " + last_name;
                    objChats.Add("ChatName", chat_name);
                    break;
                }
            }


            chats.Add(objChats);




        }
        JArray jChats = new JArray();
        for(int j=0;j<chats.Count;j++){
             var jchat = chats[j];
            string chat_name = jchat["ChatName"].ToString();
           

        }
        
    }
    
}

<div class="text-center">
    <h1 class="display-4">Welcome to XChat</h1>
    <table class="table table-striped">
        <thead>
            <tr>
               
                <th scope="col">Name</th>
                <th scope="col">Chat</th>
                

            </tr>
        </thead>
        <tbody>
            @foreach (var obj in users)
            {
              
                <tr>
                    <th scope="row">@obj["FirstName"] @obj["LastName"]</th>
                     <th scope="row">
                        <input hidden id="myemail" value=@UserManager.GetUserName(User)>

                        <button data_fname=@obj["FirstName"] data_lname=@obj["LastName"] data_email=@obj["Email"] class="btn btn-primary" onclick="getClicked(this)">Start Chat</button>

                     </th>

                    

                </tr>

            }
        </tbody>
    </table>
    <script>
        function getClicked(object) {
            //localStorage.removeItem("email")
            localStorage.removeItem("email")
            localStorage.removeItem("fname")
            localStorage.removeItem("lname")
            localStorage.removeItem("myemail")
            var email = object.getAttribute("data_email")
            var fname = object.getAttribute("data_fname")
            var lname = object.getAttribute("data_lname")
            var user = document.getElementById("myemail").value;
           
            localStorage.setItem("email", email)
            localStorage.setItem("fname", fname)
            localStorage.setItem("lname", lname)
            localStorage.setItem("myemail", user)

            window.location = "/Chat/Create?Email="+email

        }
    </script>
</div>

       <style>
    .container {
        margin: auto;
       
    }

    img {
        max-width: 100%;
    }

    .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
       
        overflow: hidden;
        width: 70%;
        border-right: 1px solid #c4c4c4;
    }

    .inbox_msg {
        clear: both;
        width: 70%;
        overflow: hidden;
    }

    .top_spac {
        margin: 20px 0 0;
    }


    .recent_heading {
        float: left;
        width: 40%;
    }

    .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
    }

    .headind_srch {
        padding: 10px 29px 10px 20px;
        overflow: hidden;
        border-bottom: 1px solid #c4c4c4;
    }

    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }

    .srch_bar input {
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
    }

    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }

    .srch_bar .input-group-addon {
        margin: 0 0 0 -27px;
    }

    .chat_ib h5 {
        font-size: 15px;
        color: #464646;
        margin: 0 0 8px 0;
    }

        .chat_ib h5 span {
            font-size: 13px;
            float: right;
        }

    .chat_ib p {
        font-size: 14px;
        color: #989898;
        margin: auto
    }

    .chat_img {
        float: left;
        width: 11%;
    }

    .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
    }

    .chat_people {
        overflow: hidden;
        clear: both;
    }

    .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
    
    }

    .inbox_chat {
        height: 550px;
        overflow-y: scroll;
    }

    .active_chat {
        background: #ebebeb;
    }

    .incoming_msg_img {
        display: inline-block;
        width: 6%;
    }

    .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
    }

    .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
    }

    .received_withd_msg {
        width: 57%;
    }

    .mesgs {
        float: left;
        padding: 30px 15px 0 25px;
        width: 100%;
    }

    .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0;
        color: #fff;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .outgoing_msg {
        overflow: hidden;
        margin: 26px 0 26px;
    }

    .sent_msg {
        float: right;
        width: 46%;
    }

    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }

    .type_msg {
        border-top: 1px solid #c4c4c4;
        position: relative;
    }

    .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
    }

    .messaging {
        padding: 0 0 50px 0;
    }

    .msg_history {
        height: 516px;
        overflow-y: auto;
    }
       </style>  
      
<div class="container">
<h3 class=" text-center">Messaging</h3>
    <div class="messaging">
        <center>

      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
             

            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>@obj["ChatName"] <span class="chat_date">Dec 25</span></h5>
                  <p>@obj["Message"]</p>
                </div>
              </div>
            </div>

            

       
          </div>
        </div>

      
      </div>
    </center>
      
      
      
    </div>
    
</div>